.weather {
  height: 100%;
  .bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url('assets/ny.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(4px);
    .transition();
  }

  .select-wrapper {
    margin: 40px 0;
    padding: 20px;
  }

  .wrapper {
    padding: @wrapper-padding;
    .content {
      padding: 30px;
      height: 200px;
      background: @color-util-primary;

      .transition();

      &.loading {
        -webkit-filter: blur(2px);
      }

      &.sun-position-wrapper {
        padding: 45px 30px;
      }

      .location-wrapper {
        padding: 35px 0;
        .location-img-wrapper {
          text-align: center;
          padding: 15px;
        }
        .location-city {
          .font(28px)
        }
        .location-country {
          .font(@font-lg, @color-font-primary-dark);
        }
      }

      &.forecast-wrapper {
        background: transparent;
      }
    }
  }
}