<div class="weather">
  <img ng-src="{{vm.bgImage}}" class="bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="title">Weather</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 select-wrapper">
        <form ng-submit="vm.onSubmit(vm.selectedOption)">
          <div class="row">
            <div class="col-xs-6">
              <select id="city-select"
                      class="select"
                      ng-model="vm.selectedOption"
                      ng-change="vm.onSelectChange()"
                      ng-options="city.name for city in vm.selectOptions track by city.zip">
              </select>
            </div>
            <div class="col-xs-6">
              <button type="submit"
                      class="button pull-right"
                      ng-disabled="vm.loading"
                      ng-show="vm.selectedOption.zip">
                <span>Show</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div ng-if="vm.weatherData">
      <div class="row">
        <div class="col-sm-6 wrapper">
          <div class="content"
               ng-class="{'loading': vm.loading}">
            <div class="row location-wrapper">
              <div class="col-xs-2 location-img-wrapper">
                <img src="/assets/icon/location.png"
                     width="32">
              </div>
              <div class="col-xs-8">
                <div class="row">
                  <div class="col-sm-12">
                    <span class="location-city">{{vm.weatherData.location.city}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <span class="location-country">{{vm.weatherData.location.country}},&nbsp;{{vm.weatherData.location.region}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 wrapper">
          <div class="content"
               ng-class="{'loading': vm.loading}">

            <condition-box
                temperature="vm.weatherData.item.condition.temp"
                temperature-unit="vm.weatherData.units.temperature"
                condition-icon="vm.weatherData.item.condition.iconSrc"
                condition-text="vm.weatherData.item.condition.text"
                date="vm.weatherData.item.condition.date"
            >
            </condition-box>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 wrapper">
          <div class="content sun-position-wrapper"
               ng-class="{'loading': vm.loading}">

            <sun-position
                sunrise="{{vm.weatherData.astronomy.sunrise}}"
                sunset="{{vm.weatherData.astronomy.sunset}}"
                timezone="{{vm.selectedOption.tz}}"></sun-position>

          </div>
        </div>
        <div class="col-sm-6 wrapper">
          <div class="content"
               ng-class="{'loading': vm.loading}">
            <atmosphere-box
                humidity="vm.weatherData.atmosphere.humidity"
                pressure="vm.weatherData.atmosphere.pressure"
                rising="vm.weatherData.atmosphere.rising"
                visibility="vm.weatherData.atmosphere.visibility"
                pressure-unit="vm.weatherData.units.pressure"
                distance-unit="vm.weatherData.units.distance"
            ></atmosphere-box>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 wrapper">
          <div class="content no-padding forecast-wrapper
          ">
            <div class="row no-margin">

              <forecast-box
                  forecasts="vm.weatherData.item.forecast"
                  temperature-unit="vm.weatherData.units.temperature"
              ></forecast-box>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>