<div class="forecast-box">
  <div ng-show="$index < 6"
       ng-repeat="forecast in vm.forecasts"
       class="col-xs-4 col-sm-2 forecast-item-wrapper">
    <div><span>{{forecast.date}}</span></div>
    <div><span>{{forecast.day}}</span></div>
    <div class="temperature-high">
      <span>{{forecast.high}}°&nbsp;{{vm.temperatureUnit}}</span>
    </div>
    <div class="temperature-low">
      <span>{{forecast.low}}°&nbsp;{{vm.temperatureUnit}}</span>
    </div>
    <div><p class="forecast-text">{{forecast.text}}</p></div>
  </div>
</div>