.forecast-box {
  height: 100%;
  margin: 0;
  .forecast-item-wrapper {
    padding: 30px;
    text-align: right;
    height: 200px;
    .font(@font-md);
    &:nth-child(1) {
      background: @forecast-bg-1;
    }
    &:nth-child(2) {
      background: @forecast-bg-2;
    }
    &:nth-child(3) {
      background: @forecast-bg-3;
    }
    &:nth-child(4) {
      background: @forecast-bg-4;
    }
    &:nth-child(5) {
      background: @forecast-bg-5;
    }
    &:nth-child(6) {
      background: @forecast-bg-6;
    }

    .temperature-high {
      .font(@font-md, @color-hot);
    }
    .temperature-low {
      .font(@font-md, @color-cold);
    }

    .forecast-text{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}