html {
  height: 100%;
}

body {
  height: 100%;
  background: @color-black;
  .font();
}

.button {
  background: @color-util-secondary;
  border: 0;
  padding: 10px;
  outline: none;
  width: 150px;
  height: 50px;

  .transition();

  &:hover {
    background: @color-util-secondary-dark;
  }

  &:active {
    background: @color-util-secondary-light;
  }

  &:disabled {
    -webkit-filter: blur(2px);
  }
}

.select {
  background: transparent;
  padding-bottom: 5px;
  border: 0;
  border-bottom: 1px solid @color-util-primary;
  margin: 0 10px;
  outline: none;
  text-align: center;
  height: 50px;
  width: 200px;
  option {
    color: @color-black;
  }
}