.font(@font-size: @font-sm, @color: @color-font-primary) {
  font-size: @font-size;
  color: @color;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: @text-shadow;
}

.transition(@time: .5s, @properties: all, @delay: 0) {
  transition-duration: @time;
  transition-property: @properties;
  transition-delay: @delay;
}