@color-white: #fff;
@color-black: #000;
@color-font-primary: #fff;
@color-font-primary-dark: #ddd;

@color-util-secondary: rgba(0, 0, 0, .4);
@color-util-secondary-dark: rgba(0, 0, 0, .3);
@color-util-secondary-light: rgba(0, 0, 0, .6);

@color-util-primary: rgba(255, 255, 255, .25);

@color-hot: #f96;
@color-cold: #69f;

@text-shadow: rgba(0,0,0,.3) 1px 1px 1px;

@forecast-bg-1: rgba(0,0,0,.1);
@forecast-bg-2: rgba(0,0,0,.2);
@forecast-bg-3: rgba(0,0,0,.3);
@forecast-bg-4: rgba(0,0,0,.4);
@forecast-bg-5: rgba(0,0,0,.5);
@forecast-bg-6: rgba(0,0,0,.6);

@font-sm: 16px;
@font-md: 18px;
@font-lg: 20px;
@font-xl: 24px;
@font-xxl: 26px;
@wrapper-padding: 20px;