<div class="condition-box">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-1 temperature-img">
      <img src="/assets/icon/temperature.png"
           width="32">
    </div>
    <div class="col-xs-8 condition-temperature">
      <span>{{vm.temperature}}°&nbsp;{{vm.temperatureUnit}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-1 temperature-img">
      <img ng-src="/assets/{{vm.conditionIcon}}"
           width="32">
    </div>
    <div class="col-xs-8 condition-text">
      <span>{{vm.conditionText}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 condition-date">
      <span>{{vm.getFormattedDate(vm.date)}}</span>
    </div>
  </div>
</div>