.condition-box {
  .condition-temperature {
    .font(@font-xxl);
    padding: 10px 15px;
  }
  .condition-text {
    .font(@font-xl);
    padding: 5px 15px;
  }
  .condition-date {
    .font(@font-md, @color-font-primary-dark);
    padding-top: 5px;
  }
  .temperature-img {
    padding: 10px 15px 0;
  }
}