<div class="atmosphere-box">
  <div class="row">
    <div class="col-xs-6 atmosphere-label">
      <span>humidity</span>
    </div>
    <div class="col-xs-6  atmosphere-value">
      <span class="pull-right">{{vm.humidity}}%</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 atmosphere-label">
      <span>rising</span>
    </div>
    <div class="col-xs-6 atmosphere-value">
      <span class="pull-right">{{vm.rising}}%</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 atmosphere-label">
      <span>visibility</span>
    </div>
    <div class="col-xs-6  atmosphere-value">
    <span
        class="pull-right">{{vm.visibility}}&nbsp;{{vm.distanceUnit}}</span>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-6 atmosphere-label">
      <span>pressure</span>
    </div>
    <div class="col-xs-6  atmosphere-value">
      <span
          class="pull-right">{{vm.pressure}}&nbsp;{{vm.pressureUnit}}</span>
    </div>
  </div>
</div>