<div class="sun-position">
  <div class="row">
    <div class="col-xs-12 astronomy-graphic">

      <div class="path-wrapper">
        <div class="path">


          <img src="/assets/icon/sun-yellow.png" width="32" class="sun-img sunrise-img">

          <img src="/assets/icon/sun-yellow.png" width="32" class="sun-img sunset-img">

          <div class="path-bg-wrapper">

            <div class="path-bg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 astronomy-sun">
      <span>{{vm.sunrise}}</span>
    </div>
    <div class="col-xs-6 astronomy-sun">
      <span>{{vm.sunset}}</span>
    </div>
  </div>
</div>