.sun-position {
  .astronomy-graphic {
    height: 115px;

    .path-wrapper {
      width: 80%;
      height: 100px;
      overflow: hidden;
      margin: 0 auto;
      border-bottom: solid 2px;

      .path {
        width: 80%;
        height: 200px;
        border: dashed 1px;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;

        .sun-img {
          position: absolute;
          top: 80px;

        }

        .sunrise-img {
          left: -16px;
        }
        .sunset-img {
          left: 94%;
        }

        .path-bg-wrapper {
          width: 0;
          height: 100px;
          overflow: hidden;

          .transition(3s, all, .5s);

          .path-bg {
            background: rgba(255, 255, 0, .4);
            height: 200px;
            border-radius: 50%;

          }
        }
      }
    }
  }

  .astronomy-sun {
    text-align: center;
  }
}
